@font-face{
    font-family:'digital';
    src: url('./assets/font.ttf');
}

body {
    background-color: #000;
    background-image: url(./assets/Robot-Ruckus.png);
    color: #fff;
    padding: 0;
    margin: 0;
}

#timerContainer {
    margin-top: 450px;
}

#timer {
    font-family: digital;
    font-size: 200px;
    font-weight: bold;
    text-align: center;
    padding: 50px;
    color: #36E2FE;
}

#state {
    font-size: 60px;
    text-align: center;
}